<?xml version="1.0" encoding="utf-8" ?>
  <connectionStrings>
    <clear/>
    <!--не забудте поменять строку подключения-->
    <add name="SQL" providerName="System.Data.SqlClient"
          connectionString="Data Source=DESKTOP-50RNE5O\SQLEXPRESS;
                                     Initial Catalog=DBUsers;
                                     Integrated Security=True; Pooling=true "/>
  </connectionStrings>